@* @rendermode InteractiveServer *@

@* <p>
    @server.Name is in @server.City
</p> *@

@* <div data-name="@server.Name" data-status="@(server.IsOnline ? "Online":"Offline")" style="color:@(server.IsOnline ? "green" :"red")">
    @server.Name is in @server.City that is @(server.IsOnline ? "Online" : "Offline")
</div> *@

@if (server != null)
{
    <div data-name="@server.Name" data-status="@(server.IsOnline ? "Online":"Offline")" style="@($"color:{(server.IsOnline ? "green" : "red")}")">
        @server.Name is in @server.City that is @(server.IsOnline ? "Online" : "Offline")
        &nbsp;
        <button type="submit" class="btn btn-primary" @onclick="ChangeStatus">Turn On/Off</button>
    </div>
}

@code {
    [SupplyParameterFromForm]
    private Server? server { get; set; } //= new Server { Name = "Server 1", City = "Toronto" };

    protected override void OnParametersSet()
    {
        server ??= new Server { Name = "Server 1", City = "Toronto" };
    }

    private void ChangeStatus()
    {
        if (server != null)
        {
            server.IsOnline = !server.IsOnline;
        }
    }
}
